meta(charset='UTF-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
link(href='/vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
title Max<sup>2</sup>
body
    .container  
        block content
  
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/javascripts/script.js')
    script(src='/javascripts/w3.js')
    script(src='/javascripts/popper.min.js')