extends layout
block content
    .row
      .col-xl-3.col-md-6.mb-4
        .card.border-left-primary.shadow.h-100.py-2
          img.card-img-top.img-responsive(src='images/cover.png' alt='Cover' style='width:100%;height:200px')
          .card-body
            h4.card-title Cover
            p.card-text Some example text some example text. John Doe is an architect and engineer
            a.btn.btn-primary(href='javascript:void(0)',onclick="document.getElementById('id01').style.display='block'") Order Now
      .col-xl-3.col-md-6.mb-4
        .card.border-left-primary.shadow.h-100.py-2
          img.card-img-top.img-responsive(src='images/thong.png' alt='thong' style='width:100%;height:200px')
          .card-body
            h4.card-title Thong
            p.card-text Some example text some example text. John Doe is an architect and engineer
            a.btn.btn-primary(href='javascript:void(0)',onclick="document.getElementById('id02').style.display='block'") Order Now
    .row
      .col-xl-3.col-md-6.mb-4
        .card.border-left-primary.shadow.h-100.py-2
          img.card-img-top.img-responsive(src='images/crossing.png' alt='crossing' style='width:100%;height:200px')
          .card-body
            h4.card-title Crossing
            p.card-text Some example text some example text. John Doe is an architect and engineer
            a.btn.btn-primary(href='javascript:void(0)',onclick="document.getElementById('id03').style.display='block'") Order Now
      .col-xl-3.col-md-6.mb-4
        .card.border-left-primary.shadow.h-100.py-2
          img.card-img-top.img-responsive(src='images/sandals.png' alt='sandals' style='width:100%;height:200px')
          .card-body
            h4.card-title Sandals
            p.card-text Some example text some example text. John Doe is an architect and engineer
            a.btn.btn-primary(href='javascript:void(0)',onclick="document.getElementById('id04').style.display='block'") Order Now
        block order