html
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
  meta(name='description' content)
  meta(name='author' content)
  title= title
  //  Custom fonts for this template
  link(rel='stylesheet' href='/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/all.min.css')
  title
      |Max
      sup 2 
  
  body
      .container  
          block content
  
  script(src='/js/bootstrap.min.js')
  script(src='/js/all.min.js')
  script(src='/js/popper.min.js')
  script(src='/js/jquery.min.js')