meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
meta(name='description' content)
meta(name='author' content)
title= title
//  Custom fonts for this template
link(rel='stylesheet' href='/css/new-age.min.css')
link(rel='stylesheet' href='/css/bootstrap.min.css')
link(rel='stylesheet' href='/css/all.min.css')
link(rel='stylesheet' href='css/w3.css')
body
  section.cta
    .cta-content
      .container
        h2
          | Order
          br
          | Max
          sup 2 
          i.fas.fa-laugh-wink
        a.btn.btn-outline-secondary.border-round.text-white.btn-xl.js-scroll-trigger.rounded-pill(href='/admin/login' ) Login as Designer
        br
        br
        a.btn.btn-outline-secondary.border-round.text-white.btn-xl.js-scroll-trigger.rounded-pill(href='/client/login') Login as Customer
    .overlay
script(src='/js/new-age.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/all.min.js')
script(src='/js/popper.min.js')
script(src='/js/jquery.min.js')
script(src='/js/script.js')