meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
meta(name='description' content)
meta(name='author' content)
title= title
//  Custom fonts for this template
link(href='css/sb-admin-2.min.css' rel='stylesheet')
link(href='css/sb-admin-2.css' rel='stylesheet')
link(rel='stylesheet' href='/css/bootstrap.min.css')
link(rel='stylesheet' href='/css/all.min.css')
link(rel='stylesheet' href='/css/w3.css')
    div(classname='w3-top')
      div(classname='w3-bar bg-info text-white w3-left-align w3-large')
        link(classname='w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large bg-info text-white' to='#' onclick='{this.openNav}')
        i(classname='fa fa-bars')
        link(to='/' classname='w3-bar-item w3-button w3-padding-large bg-info text-white')
        i(classname='fa fa-home w3-margin-right')
        | Max
        sup 2
        button(to='#' onclick='document.getElementById("form").style.display="block"' classname='w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white' title='Order')
          i(classname='fa fa-shopping-cart')
        a(href='#' onclick='{this.logOut.bind(this)}' classname='w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white' title='My Account')
          h6 Log Out


script(src='/js/bootstrap.min.js')
script(src='/js/all.min.js')
script(src='/js/popper.min.js')
script(src='/js/jquery.min.js')
script(src='/js/sb-admin-2.min.js')

